<div class = "container">

<% if @image.nil? %>
<div class="error">Error in displaying image - please disregard this task.</div>
<% else %>
<% object_type = @image.category_name.humanize.downcase %>
<div class = "instructions">
  <h1>Annotate the <%= object_type %> in the image.</h1>
  <p>Resize the rectangle so it tightly bounds the <strong><%=object_type %></strong> in the picture. If there is more than one <%=object_type %> in the image, choose one.</p>
  
  <% if @preview %>
    <div>
      Once you begin this task, you will see a button to submit your annotation here.
    </div>
  <% else %>
    <form name="bounding_box_form" action="<%= @formurl%>"  method="post">

      <%= hidden_field_tag 'assignmentId', @assignmentId%>
      <%= hidden_field_tag 'task', "bounding_box"%>
      <%= hidden_field_tag 'image_id', @image.id%>
      <!-- bounding box -->
      <%= hidden_field_tag 'x0', 0 %>
      <%= hidden_field_tag 'x1', 0 %>
      <%= hidden_field_tag 'y0', 0 %>
      <%= hidden_field_tag 'y1', 0 %>

      <%= submit_tag 'Submit', :class => "btn btn-green" %>
    </form>
  <%end%>
  </div>
  
  <div class = "images">
    <%= image_tag @image.filepath, :id=>"task-image", :class => "viewport" %>
  </div>

<% end %>
</div>


<script>
  $(function(){
    var width = $('#task-image').width();
    var height = $('#task-image').height();

    $('#task-image').imgAreaSelect({
        x1: 10,
        y1: 10,
        x2: width-10,
        y2: height-10,
        persistent:true,
        minHeight: 1,
        minWidth: 1,
        handles: true,
        onInit: updateBoundingBox,
        onSelectEnd: updateBoundingBox
    });

    function updateBoundingBox(img, selection){
      $("input#x0").val(selection.x1);
      $("input#x1").val(selection.x2);
      $("input#y0").val(selection.y1);
      $("input#y1").val(selection.y2);
    }
  
    $("form").submit(function(event){
      var x0 = parseInt($("input#x0").val());
      var x1 = parseInt($("input#x1").val());
      var y0 = parseInt($("input#y0").val());
      var y1 = parseInt($("input#y1").val());
      if (!isNaN(x0) && !isNaN(x1) && !isNaN(y0) && !isNaN(y1) ){
        return true;
      }
      return false;
    });
  });
</script>