<div class = "container">
<% cat_pretty = @category.name.humanize.downcase %>

<div class = "instructions">
  <h1>Annotate "Main Frame of the Desktop Computer" in the image.</h1>
  <!--<h1>Annotate "<%= cat_pretty %>(s)" in the image.</h1>-->
  
  <p><b>** Do not use INTERNET EXPLORER for this HIT.</b><br /> The goal is to find the <span style="font-weight:bold">tightest</span> bounding box around each <%=cat_pretty %> in the picture on the right. <b>Click and drag</b> so you find the best bounding box around each <%=cat_pretty %>. If you see multiple <%=cat_pretty %>s in one image, the procedure should be repeated for all of the <%=cat_pretty %>s in the image. Click the <b>Undo One</b> button to undo the last box you made, and <b>Submit</b> when you are finished. </p>
  <p>If you violate any of the following conditions, we will <b>reject</b> the HIT.<br /> 1. Your bounding box should be the <span style="font-weight:bold; color:red">tightest</span> one.<br /> 2. Each box should contain the <span style="font-weight:bold; color:red">entire parts</span> of the object that are visible.<br /> 3. You should choose <span style="font-weight:bold; color:red">ALL</span> the ojbects in the image.<br /><br />
  
  <!--<b>Example: "cup" category</b><br />We show three <span style="font-weight:bold; color:red">bad</span> examples.<br />
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/bad2.png" height="110">
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/bad1.png" height="110">
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/bad3.png" height="110"><br />
  The following images show <span style="font-weight:bold; color:red">good</span> bounding boxes.<br />
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/good2.png" height="110">
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/good1.png" height="110">
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/good3.png" height="110">-->

    <b>Examples:<br>
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/desktop01.png" width="420"><br>
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/desktop02.png" width="420"><br>
    <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/instructions/desktop03.png" width="420"><br>

    <br><span style="font-weight:bold;color:red">Your bounding box should only contain the "main frame" part of the desktop computer. It should NOT contain keyboard, monitor, mouse, etc.</span> If the image does not have any bounding box, just click the checkbox below the image and then submit the HIT.<br>
  </p>

  <a id="deleteBtn" class="btn btn-blue" style="width:80px!important;margin-bottom:20px;">Undo One</a>
  <% if @preview %>
    <p>
      <strong>This is a preview.</strong> Once you begin this task, you will see a button to submit your annotation here.
    </p>
  <% else %>
    <form id="bounding_box_form" action="<%= @formurl %>"  method="POST" onsubmit = >
      <%= hidden_field_tag 'assignmentId', @assignmentId%>
      <%= hidden_field_tag 'task', "bounding_box"%>
      <%= hidden_field_tag 'image_file', @img%>
      <%= hidden_field_tag 'category_name', @category.name%>
      <%= hidden_field_tag 'bbox_validity', "not_chosen" %>

      <!-- bounding box -->
      <%= hidden_field_tag 'bounding_boxes', 0 %>

      <%= submit_tag 'Submit', :class => "btn btn-green" %>
    </form>
  <%end%>
  </div>

 
  <div id = "image-container" class = "images">
    <%= image_tag @img, :id=>"task-image", :class => "viewport" %>
    <form><br>
      <input type="checkbox" name="bbox_validity" value="no_bbox"> Check if there is NO object in the image.<br>
    </form>
  </div>

</div>


<script>
  $(function(){
    var boundingBoxes = [ ];
    var currBoxStart = {};
    var currBox;

    var bounding = false;

    $("input[name=bbox_validity]").click(function(){ setBboxValidity(); }); ////

    $("img").attr('draggable','false');
    
    $("#deleteBtn").click(function(){
      console.log("delete last")
      $("#boundingbox" + (boundingBoxes.length-1)).remove();
      boundingBoxes.pop();
    });

    $(".bounding-box").mousemove(function(e){
      $(this).parent.mousemove(e);
    });

    $(document).mousemove(function(e){
      if (!bounding) return true;;
      dx = e.clientX - $("#image-container > img").offset().left;
      dy = e.clientY - $("#image-container > img").offset().top;

      if (dx < 0 || dx > $("#image-container > img").width() ||
          dy < 0 || dy > $("#image-container > img").height())
          return true;

      currBox.width(Math.abs(currBoxStart.x - dx));
      currBox.height(Math.abs(currBoxStart.y - dy));

      currBox.css({ left: Math.min(dx,currBoxStart.x), top: Math.min(dy,currBoxStart.y) });
      return true;
    });


     $(document).mousedown(function(e){
      if (bounding) return;
      var dx, dy;
      dx = e.clientX - $("#image-container > img").offset().left;
      dy = e.clientY - $("#image-container > img").offset().top;
      if (dx < 0 || dx > $("#image-container > img").width() ||
          dy < 0 || dy > $("#image-container > img").height())
          return true;
      bounding = true;
      currBoxStart = {x: dx, y: dy};
      currBox = $("<div class='bounding-box'></div>")
        .appendTo("#image-container");
      currBox.css({ top: dx, left: dy });
      currBox.attr("id","boundingbox" + boundingBoxes.length)
    });

    $(document).mouseup(function(e){
      if (!bounding) return;
      
      boundingBoxes.push({
        x0: currBox.position().left, 
        y0: currBox.position().top,
        x1: currBox.position().left + currBox.width(),
        y1: currBox.position().top + currBox.height()
      });
      currBoxStart = {};
      bounding = false;
    });
 
    // $("input[name=bbox_validity]").click(function(){ setBboxValidity(); });

    function setBboxValidity() {
      $("input#bbox_validity").val($("input[name=bbox_validity]:checked").val());
      console.log($("input#bbox_validity").val());
    }
    function validateBoundingBox(){
      //if (boundingBoxes.length == 0){
      if (boundingBoxes.length == 0 && $("input[name=bbox_validity]:checked").val() !== "no_bbox") {
        alert("No objects annotated!");
        return false;
      }
      
      console.log("HERE");
      for (var i in boundingBoxes){
        var bb = boundingBoxes[i]
        if (isNaN(bb.x0) || isNaN(bb.x1) || isNaN(bb.y0) || isNaN(bb.y1)){
          alert("Error: input data is incorrect");
          return false;
        }
      }

      $("input#bounding_boxes").val(JSON.stringify(boundingBoxes));
      console.log($("input#bounding_boxes").val());
      return true;
    }

    $("form").submit(validateBoundingBox);
  });
</script>
