<div class="error hide">
  Error: Your browser does not support WebGL - you cannot do this task.<br>
  You can enable WebGL in your browser by following the instructions below. <br>
 
  <h2>Desktop Browsers</h2>
  <p><span style="font-weight:bold">Internet Explorer</span><br> You need the latest version: IE11. IE9,10 do not support WebGL.<br></p>
  <p><span style="font-weight:bold">Chrome</span><br> 1) Open Google Chrome. (latest version recommended)<br> 2) Type <u>chrome://flags</u> in the address bar.<br> 3) Scroll down to <u>"Disable WebGL"</u> and click "Disable".<br> 4) Relaunch the browser.<br></p>
  <p><span style="font-weight:bold">Safari</span><br> 1) Open Safari.<br> 2) Open [Safari]-[Preferences...] from menubar.<br> 3) Go to the "Advanced" tab.<br> 4) At the bottom, check <u>"Show Develop menu in menu bar"</u> in the checkbox.<br> 5) In the menubar, you can now find [Develop] menu. Select <u>"Enable WebGL"</u>.<br>
  </p>
  <p><span style="font-weight:bold">Firefox</span><br> 1) Open Firefox. (latest version recommended)<br> 2) Type <u>about:config</u> in the address bar.<br> 3) Type <u>"webgl"</u> in the search bar.<br> 4) Enable <u>"webgl.forceenabled"</u>. (Make sure if its value is "true".)<br> 5) Make sure the value of <u>"webgl.disabled"</u> is "false". If not, toggle the value.<br> * You can switch the value between "true" and "false" either by [mouse-double-click] or [mouse-right-button]-[choose toggle].<br></p>


  <h2>Mobile Browsers</h2>
  Firefox mobile for Android supports WebGL natively. However, we do not recommend to use mobile browsers for the task.

</div>


<div class = "container">
  <% if @annotation.nil? %>
    <div class="error">Error- this HIT is invalid. Please disregard.</div>
  <% else %> 
    <% cat_pretty = @annotation.category_name.humanize.downcase %>
    <form id="mesh_form" action="<%= @formurl %>"  method="post">
      <%= hidden_field_tag 'assignmentId', @assignmentId%>
      <%= hidden_field_tag 'task', "mesh" %>
      <%= hidden_field_tag 'annotation_id', @annotation.id %>

    <div class= "instructions_mesh">
      <!--<h1>Match a 3D model to the object.</h1>-->
      <h2>Instruction</h2>
      <p>Choose the 3D model (shown in blue) that is <span style="font-weight:bold">most similar</span> to the indicated <span style="font-weight:bold;color:red"><%= cat_pretty %></span> within the red bounding box. In case where the indicated <b>bounding box is wrong</b>, choose the last option - <i>Wrong or Invisible bounding box.</i><br><br>** The bounding box is wrong if <br> 1) <u>it contains many <%=cat_pretty%>s</u>, 2) <u>it doesn't contain any <%=cat_pretty%></u>, or 3) <u>it is invisible.</u><br><br><span style="font-weight:bold;color:red">DO NOT CHOOSE "Wrong or Invisible bounding box" OPTION</span><b> if the bounding box around the "<%=cat_pretty%>" is correct. Instead, you should choose the MOST SIMILAR 3d model. We will</b> <span style="font-weight:bold;color:red">BLOCK</span> <b>workers who abuse the "Wrong or Invisible bounding box" option. FYI,</b> <span style="font-weight:bold;color:red">most bounding boxes are correct.</span></p>
     
      <b>Examples:</b><br>
      <div class="table">
      <div class="table-row"><div class="table-cell">
        category "chair"<br>
        <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/mesh_instruction/chair.png" height="80" width="140" align="middle">
        <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/mesh_instruction/meshes_chair.png" height="80" width="430" align="middle">
      </div></div>
      <div class="table-row"><div class="table-cell">
        category "airplane"<br>
        <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/mesh_instruction/aeroplane.png" height="80" width="120" align="middle">
        <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/mesh_instruction/meshes_aeroplane.png" height="80" width="450" align="middle">
      </div></div>
      <div class="table-row"><div class="table-cell">
        category "motorbike"<br>
        <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/mesh_instruction/motorbike.png" height="80" width="140" align="middle">
        <img src="http://cvgl.stanford.edu/projects/PASCAL3D_AMT/mesh_instruction/meshes_motorbike.png" height="80" width="430" align="middle">
      </div></div>
      </div>
      <br><br>

    </div>

    <!--target image with bounding box annotation-->
    <div class= "images_mesh">
      <br><h1>Match a 3D model to the <u><%= cat_pretty %></u>.</h1>
      <%= render :partial => "annotated_image", :locals => { :img_file => @annotation.image_file, :annotation => @annotation } %>
    </div>

    <!--preview or submit button-->
    <% if @preview %>You will se a submit button here once you have accepted the task.<br>
    <% else %><%= submit_tag 'Submit', :class => "hide btn btn-green" %><br><br>
    <% end %>

    <div class= "table">
      <% @meshes.each_with_index do |m, index| %>
        <% if index.modulo(4).zero? %> <!--create a new row after every 4 cells-->

          <div class= "table-row">
            <% for i in 0..3%>
              <% if (index+i+1) > @meshes.length then %><% break %><% end %>
              <div class= "table-cell"><div class="mesh-option">
		<% if (index+i+1) == @meshes.length then %>
		  <%= render :partial => "gl_viewer", :locals => {:small => true, :mesh => @meshes[index+i], :is_mesh => false} %>
		<% else %>
                  <%= render :partial => "gl_viewer", :locals => { :small => true, :mesh => @meshes[index+i], :is_mesh => true } %>
		<% end %>
                <br/><input type="radio" name="mesh_file" required value="<%=@meshes[index+i]%>" />
              </div></div>
            <% end %>                                         
          </div>

        <% end %>
      <% end %>
    
  </form>

<% end %>
</div>

<script>

$(function(){
  if ( !Detector.webgl ){
    $(".error").show();
    $(".container").remove();
    return false;
  }

  var toLoad = $(".mesh-option").length;
  console.log("Meshes to load: " + toLoad);
  function onloaded(canvasid){
    toLoad--;
    console.log("Meshes to load: " + toLoad);
    $("#" + canvasid).next().hide();
    if (toLoad <= 0 && <%= @preview %>){
      $("input[type='submit']").show();
    }
  }
  

  $(".mesh-option").map(function(){
    var mesh = $(this).find("input").val();
    var canvasid = $(this).find("canvas").attr("id");
    console.log(canvasid);
    var o = new ObjectViewer( mesh, canvasid, { 
      orbit_speed: 0.01, 
      onLoaded: function() { 
        onloaded(canvasid) 
      }
    });
  });
})

</script>
