<div class = "container">
<% if @annotation.nil? or @image.nil? %>
<div class="error">Error in displaying image - please disregard this task.</div>
<% else %>  
  <% object_type = @image.category_name.humanize.downcase %>
  <div class= "instructions panel left ">
    <h1>Match a 3D model to the image.</h1>
    <p>Choose the model that most closely resembles the <%= object_type %> in the photo. Try to get as close as possible, even if there isn't an exact fit</p>
  </div>
  <div class= "image panel right">
    <%= image_tag @image.url, :class => "viewport task_image" %>
  </div>
  <div class= "panel bottom">
    <form name="mesh_form" action="http://workersandbox.mturk.com/mturk/externalSubmit"  method="post">
      <div class="horizontal_scroll">
        <% @meshes.each do |m| %>
          <div style="display:inline-block;text-align:center">
            <div class="viewport-small">
              <canvas id = "canvas_<%=m%>" width = "300" height="225"></canvas>
              <script>$(function(){ new ObjectViewer ("<%=m%>", "canvas_<%=m%>", "rotate" ); });</script>
            </div>
            <br/>
            <%= radio_button_tag 'mesh_file', m %>
          </div>
        <% end %>
      </div>
      <%= hidden_field_tag 'annotation_id', @annotation.id %>
      <%= hidden_field_tag 'assignmentId', @assignmentId %>
      <%= submit_tag 'Submit', :class => "btn btn-green", :disabled => true %>
    </form>
  </div>
<% end %>
</div>


<form name="bounding_box_form" action="<%= @url%>"  method="post">

      <%= hidden_field_tag 'assignmentId', @assignmentId%>
      <%= hidden_field_tag 'task', "bounding_box"%>
      <%= hidden_field_tag 'image_id', @image.id%>
      <!-- bounding box -->
      <%= hidden_field_tag 'x0', 0 %>
      <%= hidden_field_tag 'x1', 0 %>
      <%= hidden_field_tag 'y0', 0 %>
      <%= hidden_field_tag 'y1', 0 %>

      <%= submit_tag 'Submit', :class => "btn btn-green" %>
    </form>
